<h1>Welcome to TimeStamp!</h1>
{{ activities$ | async| json }}

<h2>Add button</h2>

<input (keyup.enter)="newActivity(activityInput)" #activityInput/>
<button (click)="newActivity(activityInput)">Add Activity</button>

<h2>Log activity</h2>
<div>
  @for (activity of (activities$ | async); track activity.id) {
    <button (click)="logAcvtivity(activity)">{{ activity.name }}</button>
  }
</div>



<ul>
  @for (activity of (activities$ | async); track activity.id) {
    <li (click)="logAcvtivity(activity)">{{ activity.name }}</li>
  }
</ul>

<h2>View log</h2>

<!--<ul>
  @for(logItem of log$; track logItem.id) {
    <li>{{ logItem.id }}</li>
  }
</ul>-->

